.news-card-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f6f7;
  padding: 80px 104px;
}

.news-card-list__title {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  letter-spacing: 0px;
  color: #1a1b22;
  width: 100%;
  max-width: 1232px;
  margin-top: 0;
  margin-bottom: 64px;
}

.news-card-list__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  width: 100%;
  max-width: 1232px;
  margin-bottom: 64px;
}

.news-card-list__show-more {
  border: none;
  border-radius: 100px;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #1a1b22;
  width: 288px;
  height: 64px;
  align-self: center;
  cursor: pointer;
}

.news-card-list__show-more:hover {
  background-color: #e8e8e8;
}

.news-card-list_saved {
  padding-top: 0;
  align-items: normal;
}
